.animate-char{
    margin-top: 4px;
    text-transform: uppercase;
    background-image: linear-gradient(-250deg,
    #7bf10d 0%,
    #108006 29%,
    #050500 67%
    );
    background-size: auto auto;
    background-clip: border-box;
    background-size: 200% auto;
    color: #fff;
    text-fill-color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: textclip 2s linear infinite;
    display: inline-block;
    font-size: 36px;
    
} 

@keyframes textclip{
    to {background-position: 200% center;

    }
}
.sidez{
    display: flex;
    justify-content: right;
    font-size: 25px;
    margin-right: 20%;
    margin-bottom: 0px;
    color: rgb(50 4 94);

}
.head{
    background-color: rgb(245, 205, 5);
    color: azure;
    padding-top: 3px;
    height: 43px;
    font-size: 25px;
    text-align: center;
}
.back{
    background-image: url('coloured img.jpg ');
    background-size: cover;
    background-repeat: no-repeat;
}
.n{
    color: rgb(50, 4, 94);
    padding-left: 40px;
    font-size: 23px;
}
.tp{
    
    display: flex;
    justify-content: left; 
    margin-left: 90px;

}
.k{ 
    margin-left: -63%;
    margin-top: 2%;
    
}

.a{
    color: rgb(66, 2, 129);
    font-size: 20px;
}
.side{
    display: flex;
    justify-content: right;
    margin-left: 25%;
    color: rgb(50, 4, 94);

}
.news{
    margin-top: 10px;
    margin-bottom: -37px;
    
}
.sidex{
    display: flex;
    justify-content: right;
    margin-left: 26%;
    color: rgb(50, 4, 94);

}
.side2{
    
    margin-top: 30px;
    margin-left: -18%;
    

}
.sidey{
    display: flex;
    justify-content: right;
    margin-left: 22%;
    color: rgb(50, 4, 94);

}
.p{
    display: flex;
    justify-content: left;
    margin-left: 90px;
}
.z{
    display: flex;
    justify-content: left;
    margin-left: 90px;
}
.d{
    margin-left: -69%;
    margin-top: 2%;
}
.side3{
    
    margin-top: 41px;
    margin-left: -5%;
    

}

.y{
    margin-left: -72%;
    margin-top: 2%;
}
.last{
    display: flex;
    justify-content: left;
    margin-left: 90px;
}
.m{
    margin-left: -20%;
    margin-top: 2%;
    
}